@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

:root{
  --blue-main: hsl(192, 100%, 50%);
  --blue-dark: hsl(200, 100%, 40%);
  --grey-main: hsl(0, 0%, 17%);
}

* {
  margin: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Caveat', cursive;
  font-size: 1.5em;
  color: white;
  height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
