#coding-area{
    /* background-color: rgb(53, 53, 53); */
    width: 50%;
    color: white;
    text-align: left;
    
    display: flex;
    word-break: break-all;
    overflow: auto;
}

.editor {
    width: 100%;
}