#coding-area{
    background-color: rgb(53, 53, 53);
    width: 50%;
    color: white;
    text-align: left;
    outline: none;
    padding: 10px;
    word-break: break-all;
    overflow: auto;
    
}