.header-select {
    background-color: var(--blue-main);
    outline: none;
    border-radius: 20px;
    padding: 2px 10px;
    font-family: 'Caveat', cursive;
    font-size: 1.1em;
    border: 1px solid black;
}

.header-select option {
    border: 2px solid black;
    font-family: 'Caveat', cursive;
    font-size: 1.1em;
}

