#topic-default-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    width: fit-content;
}

.controls-triangle {
    padding-right: 10px;
}

#topic-container {
    position: relative;
    /* background-color: blue; */
    width: 5vw;
    transition: all 500ms ease-in-out;
    user-select: none;
}



#topic-list {
    opacity: 0;
    user-select: none;
    pointer-events: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: var(--blue-main);
    text-align: center;
    width: fit-content;
    list-style-type: none;
    transition: all 300ms ease-in-out;
}

#topic-list li {
    
    border: 1px solid black;
    padding: 5px 10px;
    user-select: none;
}

#topic-container:hover #topic-list {
    opacity: 1;
    user-select: all;
    pointer-events: all;
}

#topic-list li:hover {
    background-color: black;
    color: var(--blue-dark);
    cursor: pointer;
    transition: 100ms ease-out;
}

#topic-list li:active {
    color: black;
    background-color: var(--blue-main);
    transition: 10ms ;
}